<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ambro</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" href="{% static 'user/img/favicon.png' %}" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" href="{% static 'user/css/font-icons.css' %}">
    <!-- plugins css -->
    <link rel="stylesheet" href="{% static 'user/css/plugins.css' %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'user/css/responsive.css' %}">
</head>



<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

<!-- Body main wrapper start -->
<div class="body-wrapper">
    <a href="https://wa.me/+919614900400" target="_blank">
        <img src="{% static 'user/img/main/whatsapp.png' %}" alt="" class="whatsapp-main">
    </a>


    <!-- {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show " role="alert">
            <span class="text-white">{{ message }}</span>
            <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        {% if message.tags == 'success' %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
            <span class="alert-text">{{ message }}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %} -->
    
      
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="message error">
                {{ message }}
                <span class="close-icon" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
        {% endif %}
        
        {% if message.tags == 'success' %}
            <div class="message success">
                {{ message }}
                <span class="close-icon" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
        {% endif %}
    {% endfor %}

      
    

    

    <!-- HEADER AREA START (header-3) -->
    <header class="ltn__header-area ltn__header-3 section-bg-6">       
        
       
        <div class="ltn__header-middle-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="site-logo">
                            <a href="{% url 'home' %}"><img class="logofi" src="{% static 'user/assets/Ambro Logo Final.png' %}"    alt="Logo"></a>
                        </div>
                    </div>
                    <!-- <div class="col header-contact-serarch-column d-none d-lg-block">
                        <div class="header-contact-search">
                            
                            <div class="header-feature-item">
                                <div class="header-feature-icon">
                                    <i class="icon-call"></i>
                                </div>
                                <div class="header-feature-info">
                                    <h6>Phone</h6>
                                    <p><a href="tel:0123456789">+91 96149 00400</a></p>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div> -->
                    <div class="col">
                        <!-- header-options -->
                        <div class="ltn__header-options">
                            <ul>
                               
                               
                                <li>
                                    <!-- mini-cart 2 -->
                                    <div class="mini-cart-icon mini-cart-icon-2">
                                        <a href="{% url 'cart_items_view' %}" >
                                            <span class="mini-cart-icon">
                                                <i class="icon-shopping-cart yaasi"></i>
                                                <sup>{{ cart_quantity_total }}</sup>
                                            </span>
                                            
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__header-middle-area end -->
        <!-- header-bottom-area start -->
        <div class="header-bottom-area ltn__border-top ltn__header-sticky  ltn__sticky-bg-white ltn__primary-bg--- section-bg-1 menu-color-white--- d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col header-menu-column justify-content-center">
                        <div class="sticky-logo">
                            <div class="site-logo">
                                <a href="{% url 'home' %}"><img src="{% static 'user/assets/Ambro Logo Final.png' %}" style="margin: 10px; " alt="Logo" ></a>
                            </div>
                        </div>
                        <div class="header-menu header-menu-2">
                            <nav> 
                                <div class="ltn__main-menu">
                                    <ul>
                                        <li ><a href="{% url 'home' %}">Home</a>
                                            
                                        </li>
                                        <li ><a href="{% url 'about' %}">About</a>
                                           
                                        </li>
                                        <li ><a href="{% url 'shop' %}">Shop</a>
                                           
                                        </li>
                                       
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                        
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-bottom-area end -->
    </header>
    <!-- HEADER AREA END -->

   

    <!-- Utilize Mobile Menu Start -->
    <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <div class="site-logo">
                    <a href="{% url 'home' %}"><img src="{% static 'user/assets/Ambro Logo Final.png' %}"  alt="Logo" ></a>
                </div>
                <button class="ltn__utilize-close">×</button>
            </div>
            <div class="ltn__utilize-menu">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a>
                        
                    </li>
                    <li><a href="{% url 'about' %}">About</a>
                        
                    </li>
                    <li><a href="{% url 'shop' %}">Shop</a>
                       
                    </li>
                    
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
            <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
                    <li>
                        <a href="{% url 'cart_items_view' %}" title="Shoping Cart">
                            <span class="utilize-btn-icon">
                                <i class="fas fa-shopping-cart"></i>
                                <sup>5</sup>
                            </span>
                            Shoping Cart
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ltn__social-media-2">
                <ul>
                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Utilize Mobile Menu End -->

    <div class="ltn__utilize-overlay"></div>

      
    <div class="mobile-header-menu-fullwidth">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Mobile Menu Button -->
                    <div class="mobile-menu-toggle d-lg-none">
                        <span>MENU</span>
                        <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                            <svg viewBox="0 0 800 600">
                                <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                                <path d="M300,320 L540,320" id="middle"></path>
                                <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SLIDER AREA START (slider-3) -->
    <div class="ltn__slider-area ltn__slider-3---  section-bg-1--- mt-30">
        <div class="container">
            <div class="">
                <div class="col-lg-3">
                    
                </div>
                <div class="col-lg-12">
                    <div class="ltn__slide-active-2 slick-slide-arrow-1 slick-slide-dots-1">
                        <!-- ltn__slide-item -->
                        <div class="ltn__slide-item ltn__slide-item-10 section-bg-1 bg-image" data-bg="{% static 'user/img/slider/61.jpg' %}">
                            <div class="ltn__slide-item-inner">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-7 col-md-7 col-sm-7 align-self-center">
                                            <div class="slide-item-info">
                                                <div class="slide-item-info-inner ltn__slide-animation">
                                                    <h1 class="slide-title  animated">Welcome to Ambro</h1>
                                                    <h5 class="slide-sub-title animated text-uppercase" style="color: white;" >Introducing handmade pieces sure to spark a conversation</h5>
                                                    <div class="slide-brief animated d-none">
                                                        <p>Predictive analytics is drastically changing the real estate industry. In the past, providing data for quick</p>
                                                    </div>
                                                    <div class="btn-wrapper  animated">
                                                        <a href="{% url 'shop' %}" class="theme-btn-1 btn btn-effect-1 text-uppercase">Shop now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
                                            <div class="slide-item-img">
                                                <!-- <a href="{% url 'shop' %}"><img src="{% static 'user/img/product/1.png' %}" alt="Image"></a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ltn__slide-item -->
                        <div class="ltn__slide-item ltn__slide-item-10 section-bg-1 bg-image" data-bg="{% static 'user/img/slider/62.jpg' %}">
                            <div class="ltn__slide-item-inner">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-7 col-md-7 col-sm-7 align-self-center">
                                            <div class="slide-item-info">
                                                <div class="slide-item-info-inner ltn__slide-animation">
                                                    
                                                    <h1 class="slide-title  animated">Welcome to Ambro</h1>
                                                    <h4 class="slide-sub-title animated text-uppercase" style="color: white;">Introducing handmade pieces sure to spark a conversation</h4>
                                                    <div class="slide-brief animated d-none">
                                                        <p>Predictive analytics is drastically changing the real estate industry. In the past, providing data for quick</p>
                                                    </div>
                                                    <div class="btn-wrapper  animated">
                                                        <a href="{% url 'shop' %}" class="theme-btn-1 btn btn-effect-1 text-uppercase">Shop now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 align-self-center">
                                            <div class="slide-item-img">
                                                <!-- <a href="{% url 'shop' %}"><img src="{% static 'user/img/slider/62.jpg' %}" alt="Image"></a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SLIDER AREA END -->
    

    <!-- FEATURE AREA START ( Feature - 3) -->
    <div class="ltn__feature-area mt-35 mt--65---">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__feature-item-box-wrap ltn__feature-item-box-wrap-2 ltn__border section-bg-6">
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="{% static 'user/assets/delivery.png' %}" alt="#" style="height: 65px; width: 120px;">
                            </div>
                            <div class="ltn__feature-info">
                                <h4>Free Shipping</h4>
                                <p>when you spend Rs 500</p>
                            </div>
                        </div>
                       
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="{% static 'user/assets/checkout.png' %}" alt="#" style="height: 50px; width: 120px;" >
                            </div>
                            <div class="ltn__feature-info">
                                <h4>Secure Checkout</h4>
                                <p>Is our responsibility</p>
                            </div>
                        </div>
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="{% static 'user/assets/premium-quality.png' %}" alt="#" style="height: 50px; width: 120px;" >
                            </div>
                            <div class="ltn__feature-info">
                                <h4>Premium Products</h4>
                                <p>Is our responsibility</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div> <br><br><br>
    <!-- FEATURE AREA END -->
    <div class="ltn__about-us-area pt-120--- pb-120" style="margin-top: -50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 align-self-center  ">
                    <div class="about-us-img-wrap about-img-left  " >
                        <img src="{% static 'user/assets/DSC00329.jpg' %}" alt="About Us Image">
                    </div>
                </div>
                <div class="col-lg-5 align-self-center  ">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2">
                            <!-- <h6 class="section-subtitle ltn__secondary-color">Know More About Shop</h6> -->
                            <h1 class="section-title"  >We Are Here Now
                                <br class="d-none d-md-block">  </h1>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p> -->
                        </div>
                        <p class="col-lg-12" >It was our thrilling desire on food and travel lead us to this astounding venture of building up a business platform. We started on Tiktok with some personal videos and then it paved me the way to make short videos on Instagram and Youtube. <br> <br> We got a fabulous audience response as we get impressed widely. Gradually, we turned into food blogging and made some catchy contents on Intagram. To sum up with, we branded it on @explorewithambro and made an amazing outbreak into the people who love food and travel as we earned an unbelievable social media support. Now, we are committed do some worthy and fruitful bussiness with you. Stay connected on us.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PRODUCT TAB AREA START (product-item-3) -->
    <div class="ltn__product-tab-area ltn__product-gutter pt-115 pb-70" style="margin-top: -200px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2--- text-center">
                        <!-- <h6 class="section-subtitle ltn__secondary-color">// Cars</h6> -->
                        <h1 class="section-title" >Our Products</h1>
                    </div>
                    <div class="ltn__tab-menu ltn__tab-menu-2 ltn__tab-menu-top-right-- text-uppercase text-center" style="margin-top: -63px;">
                        <div class="nav">
                            <a class="active show" data-bs-toggle="tab" href="#liton_tab_3_1">Baklava </a>
                            
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="liton_tab_3_1">
                            <div class="ltn__product-tab-content-inner">
                                <div class="row ltn__tab-product-slider-one-active slick-arrow-1">
                                    <!-- ltn__product-item -->
                                    {% for product in products %}
                                        <div class="col-lg-12">
      
                                            <div class="ltn__product-item ltn__product-item-3 text-center">
                                                <div class="product-img">
                                                    <a href="{% url 'product_view' product.pk %}"><img src="{{ product.image.url }}" alt="#"></a>
                                                    <!-- <div class="product-badge">
                                                        <ul>
                                                            <li class="sale-badge">-19%</li>
                                                        </ul>
                                                    </div> -->
                                                
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-ratting">
                                                        <ul>
                                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                            <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                                            
                                                        </ul>
                                                    </div>
                                                    <h2 class="product-title"><a href="{% url 'product_view' product.pk %}">{{ product.name }}</a></h2>
                                                    <div class="product-price">
                                                        <span>{{ product.price }}</span>
                                                        <!-- <del>$46.00</del> -->
                                                    </div>
                                                    <!-- <a href="#"  data-bs-toggle="modal" data-bs-target="#add_to_cart_modal"> -->

                                                        <form method="post" action="{% url 'add_to_cart_one' product.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit" value="Add to Cart" class="butns" >Add to cart</button> 
                                                        </form>
                                                        
                                                    
                                                </div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PRODUCT TAB AREA END -->
    
    <!-- BLOG AREA START (blog-3) -->
    <div class="ltn__blog-area pt-115 pb-70" style="margin-top: -180px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title white-color---" >Leatest Blog</h1>
                    </div>
                </div>
            </div>
            <div class="row  ltn__blog-slider-one-active slick-arrow-1 ltn__blog-item-3-normal">
                <!-- Blog Item -->
                <div class="col-lg-12">
                    <div class="ltn__blog-item ltn__blog-item-3">
                        <div class="ltn__blog-img">
                            <video autoplay loop muted width="600" height="400">
                                <source src="{% static 'user/assets/ghfhjk.mp4' %}" type="video/mp4">
                            </video>
                        </div>
                        <div class="ltn__blog-brief">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-author">
                                        <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                    </li>
                                    <li class="ltn__blog-tags">
                                        <a href="#"><i class="fas fa-tags"></i>Services</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="ltn__blog-title"><a href="blog-details.html">Thank you mallufoodblogger for this beautiful video</a></h3>
                            <div class="ltn__blog-meta-btn">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>August 31, 2022</li>
                                    </ul>
                                </div>
                                <div class="ltn__blog-btn">
                                    <a href="blog-details.html">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog Item -->
                <div class="col-lg-12">
                    <div class="ltn__blog-item ltn__blog-item-3">
                        <div class="ltn__blog-img">
                            <video autoplay loop muted width="600" height="400" style="max-height: 260px;">
                                <source src="{% static 'user/assets/Untitled video - Made with Clipchamp (1).mp4' %}" type="video/mp4">
                            </video>
                        </div>
                        <div class="ltn__blog-brief">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-author">
                                        <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                    </li>
                                    <li class="ltn__blog-tags">
                                        <a href="#"><i class="fas fa-tags"></i>Services</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="ltn__blog-title"><a href="blog-details.html">Thank you rjsoorajdoha for valuable feedback</a></h3>
                            <div class="ltn__blog-meta-btn">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>July 21, 2022</li>
                                    </ul>
                                </div>
                                <div class="ltn__blog-btn">
                                    <a href="blog-details.html">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog Item -->
                <div class="col-lg-12" style="max-height: 500px;">
                    <div class="ltn__blog-item ltn__blog-item-3">
                        <div class="ltn__blog-img">
                            <video autoplay loop muted width="600" height="400" >
                                <source src="{% static 'user/assets/ertyuik.mp4' %}" type="video/mp4">
                            </video>
                        </div>
                        <div class="ltn__blog-brief">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-author">
                                        <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                    </li>
                                    <li class="ltn__blog-tags">
                                        <a href="#"><i class="fas fa-tags"></i>Services</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="ltn__blog-title"><a href="blog-details.html">Thank you aa_harem for this beautiful video</a></h3>
                            <div class="ltn__blog-meta-btn">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>August 26, 2022</li>
                                    </ul>
                                </div>
                                <div class="ltn__blog-btn">
                                    <a href="blog-details.html">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blog Item -->
                
                <!-- Blog Item -->
               
                <!--  -->
            </div>
        </div>
    </div>
    <!-- BLOG AREA END -->

    <!-- FOOTER AREA START -->
    <footer class="ltn__footer-area  " style="margin-top: -50px;">
        <div class="footer-top-area  section-bg-1 plr--5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-about-widget">
                            <div class="footer-logo mb-10">
                                <div class="site-logo">
                                    <img style="max-width: 60%; margin-top: -70px; " src="{% static 'user/assets/Ambro Logo Final.png' %}" alt="Logo">
                                </div>
                            </div>
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-placeholder"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p>Thanner Panthal, Vatakara ,
                                                Kozhikode, Kerala - 673542</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-call"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="tel:+0123-456789">+91 96149 00400</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-mail"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="mailto:example@example.com">admin@shopwithambro.com</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="ltn__social-media mt-20">
                                <ul>
                                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title" style="margin-top: -60px;">Company</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li style="margin-top: -20px;"><a href="{% url 'about' %}" >About</a></li>
                                    <li style="margin-top: -10px;" ><a href="{% url 'shop' %}">All Products</a></li>
                                    <li style="margin-top: -10px; "><a href="{% url 'contact' %}">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title" style="margin-top: -60px;">Services</h4>
                            <div class="footer-menu">
                                <ul>
                                   
                                    
                                    <li style="margin-top: -20px;"><a href="{% url 'about' %}">Terms & Conditions</a></li>
                                    <li style="margin-top: -10px;"><a href="{% url 'about' %}">Promotional Offers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title" style="margin-top: -60px;">Customer Care</h4>
                            <div class="footer-menu">
                                <ul>
                                    
                                    
                                    <li style="margin-top: -20px;"><a href="faq.html">FAQ</a></li>
                                    <li style="margin-top: -10px;"><a href="{% url 'contact' %}">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12 col-12">
                        <div class="footer-widget footer-newsletter-widget">
                           
                            <h5 style="margin-top: -60px;">We Accept</h5>
                            <img src="{% static 'user/img/icons/payment-4.png' %}" alt="Payment Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ltn__copyright-area ltn__copyright-2 section-bg-1 border-top  ltn__border-top-2--- plr--5" style="margin-top: -30px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="ltn__copyright-design clearfix">
                            <p>All Rights Reserved @ Company <span class="current-year"></span></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 align-self-center">
                        <div class="ltn__copyright-menu text-right text-end">
                            <ul>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Claim</a></li>
                                <li><a href="#">Privacy & Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER AREA END -->

    

</div>
<!-- Body main wrapper end -->    

    <!-- preloader area start -->
    <div class="preloader d-none" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->


    


    
   

    <!-- All JS Plugins -->
    <script src="{% static 'user/js/plugins.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'user/js/main.js' %}"></script>
  
</body>
</html>

